app/node_modules
app/logs/access.log

db/node_modules

db/elasticsearch-7.2.0

db/test.*

db/logs/data/*
!db/logs/data/.gitkeep

db/logs/console/*
!db/logs/console/.gitkeep

db/scratchpad.*

db/test/cleanup/*
!db/test/cleanup/.gitkeep

*.pem
