app/node_modules
app/logs/access.log

db/node_modules

db/elasticsearch-7.2.0

db/test.*

db/logs/data/*
!db/logs/data/.gitkeep

db/logs/console/*
!db/logs/console/.gitkeep

db/logs/pdfs/*
!db/logs/pdfs/.gitkeep

db/logs/html/*
!db/logs/html/.gitkeep

db/scratchpad*
db/pdfTest.js

db/test/cleanup/*
!db/test/cleanup/.gitkeep

*.pem
